/**
 * Chi Design System - Semantic Color Mappings
 * Maps color scales to semantic names
 * This will be populated during color system reorganization
 */

/* Placeholder - will import individual color scales and create semantic mappings */
