/**
 * Chi Design System - Cursor & Icon Tokens
 */

@layer tokens {
  :root {
    /* Icon sizes */
    --icon-size-sm: calc(18px * var(--scaling, 1));
    --icon-size-md: calc(24px * var(--scaling, 1));
    --icon-size-lg: calc(36px * var(--scaling, 1));
    --icon-size-xl: calc(48px * var(--scaling, 1));

    /* Cursor styles */
    --cursor-default: default;
    --cursor-pointer: pointer;
    --cursor-not-allowed: not-allowed;
    --cursor-text: text;
    --cursor-move: move;
    --cursor-grab: grab;
    --cursor-grabbing: grabbing;
  }
}
