/**
 * Ankh Studio - Layout Tokens
 */

@layer tokens {
  :root {
    /* Container max-widths */
    --container-1: 448px;
    --container-2: 688px;
    --container-3: 880px;
    --container-4: 1136px;
  }
}
