name: Main

on:
  push:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    uses: ./.github/workflows/lint.yml

  release:
    needs: lint
    uses: ./.github/workflows/release.yml
    secrets: inherit

  publish:
    needs: release
    uses: ./.github/workflows/publish.yml
    secrets: inherit
